@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Rubik";
  src: url("./assets/fonts/Rubik-Light.ttf");
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Rubik";
  src: url("./assets/fonts/Rubik-Regular.ttf");
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Rubik";
  src: url("./assets/fonts/Rubik-Medium.ttf");
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Rubik";
  src: url("./assets/fonts/Rubik-SemiBold.ttf");
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Rubik";
  src: url("./assets/fonts/Rubik-Bold.ttf");
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins-Light.ttf");
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins-Regular.ttf");
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins-Medium.ttf");
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins-SemiBold.ttf");
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins-Bold.ttf");
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

:root {
  --background: #fafcfb;
  --foreground: #1d1d1d;
  --background-dark: #1d1d1d;
  --foreground-dark: #fafcfb;

  --primary: #fafcfb;
  --secondary: #1d1d1d;
}

@layer base {
  body {
    @apply bg-background text-foreground dark:bg-background-dark dark:text-foreground-dark;
  }
}

@layer components {
  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
    width: 0;
  }
  .scrollbar-hidden {
    scrollbar-width: none;
  }
}

html {
  font-family: "Rubik", sans-serif;
}

h1,
h2 {
  font-family: "Poppins";
}
