@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Rebond";
  src: url("/fonts/rebond-semibold.otf");
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Rubik";
  src: url("/fonts/Rubik-Light.ttf");
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Rubik";
  src: url("/fonts/Rubik-Regular.ttf");
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Rubik";
  src: url("/fonts/Rubik-Medium.ttf");
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Rubik";
  src: url("/fonts/Rubik-SemiBold.ttf");
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Rubik";
  src: url("/fonts/Rubik-Bold.ttf");
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "YDYoonche M";
  src: url("/fonts/ffc278d3825e583bc658db3933a55996.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --background: #fafcfb;
  --foreground: #1d1d1d;
  --background-dark: #1d1d1d;
  --foreground-dark: #fafcfb;

  --primary: #fafcfb;
  --secondary: #1d1d1d;
}

@layer base {
  body {
    @apply bg-background text-foreground dark:bg-background-dark dark:text-foreground-dark;
  }
}

@layer components {
  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
    width: 0;
  }
  .scrollbar-hidden {
    scrollbar-width: none;
  }
}

html {
  font-family: "Rubik", sans-serif;
}

h1,
h2 {
  font-family: "Rebond";
}
